*{
    margin: 0;
    padding: 0;
}


.header{
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("Pictures/cv.png");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul p{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;    
}

.nav-links ul p button{
    background: transparent;
    list-style: none;
    display: inline-block;
    padding: 6px 20px;
    position: relative;    
}


.nav-links ul p button{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul p::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #543254;
    display: block;
    margin: auto;
    transition: 0.8s;
}

.nav-links ul p:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: white;
    height: 2px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;

}

.text-box p{margin: 10px 0 40px;
font-size: 20px;
color: white;
}

.nav-links ul p button{
    text-decoration: inline-block;
    color: white;
    border: 1px solid transparent;
    padding: 20px 34px;
    font-size: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.nav-links ul p button:hover{
    border: 1px solid #543254;
    background: #543254;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
        
    }

    .nav-links ul li{
        display: block;
         
    }
    .nav-links{

        position: absolute;
        background: #543254;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; 
        transition: 1s;
    }
    nav .fa{
    display: block;
    color: white ;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }


}

.RESUME{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.experiances-col1{

    flex-basis: 31%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/astra.png");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
    font-size: larger;
}




.experiances-col1:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 255);
}
.experiances-col2:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 255);
}
.experiances-col2{


    flex-basis: 31%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/scania2.png");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 200px 12px;
    box-sizing: border-box;
    transition: 1s;
    font-size: larger;

}

.experiances-col{

    flex-basis: 31%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/scania2.png");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
    font-size: larger;
}

.row h2 {
    display: block;
    color: white ;
}
.row p{
    display: block;
    color: white ;
}

.experiances-col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 255);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.education{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    font-size: larger;
}

.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.high_uni_col{

    flex-basis: 40%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/kth.png");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: 1s;
}

.other_edu_col{

    flex-basis: 40%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/other_ed.png");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: 1s;
}
.row2 h2 {
    display: block;
    color: white ;
}
.row2 p{
    display: block;
    color: white ;
}

.other_edu_col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 255, 0);
}

.high_uni_col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 255, 0);
}

@media(max-width: 700px){
    .row2{
        flex-direction: column;
    }
}

.letter{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}

.row3{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}

.letter{
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("Pictures/natur.jpg");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.letter{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: x-large;
}


.row3{
    margin-top: 5%;
    margin-left: 22%;
    display: flex;
    
}

.col1{

    flex-basis: 70%;
    background-image: transperent;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 30px 30px;
    box-sizing: border-box;
    transition: 1s;
    height: 700px;
}


.col1:hover{
    box-shadow: 0 0 20px 0px rgb(0, 255, 0);
}

.personalinfo{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    font-size: larger;
}

.row4{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
}
.row4 h2{
    text-align: center;
}

.myinfo{

    flex-basis: 40%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/natur.jpg");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: 1s;
}

.refrences{

    flex-basis: 40%;
    background-image:linear-gradient(rgba(4,9,30,3),rgba(4,9,30,0.7)),url("Pictures/natur.jpg");;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: 1s;
}
.row4 h1 {
    display: block;
    color: white ;
}
.row4 p{
    display: block;
    color: white ;
}

.myinfo:hover{
    box-shadow: 0 0 20px 0px rgb(255, 0, 0);
}

.refrences:hover{
    box-shadow: 0 0 20px 0px rgb(255, 0, 0);
}

@media(max-width: 700px){
    .row3{
        flex-direction: column;
    }
}
@media(max-width: 700px){
    .row4{
        flex-direction: column;
    }
}